Checks: >
  clang-analyzer-*,
  performance-*,
  portability-*,
  security-*,
  misc-*,
  modernize-*,

#  bugprone-*,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: readability-magic-numbers.IgnoredValues
    value: '0,1,-1'
  - key: bugprone-sizeof-expression
    value: 'true'                 # Catch sizeof mistakes
  - key: readability-implicit-bool-conversion.StrictMode
    value: 'true'                 # Force strict bool usage
  - key: clang-analyzer-core.UndefinedBinaryOperatorResult
    value: 'true'                 # Aggressive undefined behavior detection
  - key: clang-analyzer-core.CallAndMessage
    value: 'true'                 # Catch dangerous calls
  - key: clang-analyzer-core.NonNullParamChecker
    value: 'true'                 # Ensure non-null params
  - key: clang-analyzer-deadcode.DeadStores
    value: 'true'                 # Catch dead stores
  - key: readability-named-parameter.SuppressAllWarnings
    value: 'false'                # Be super picky

