Checks: >
  clang-analyzer-*,
  performance-*,
  portability-*,
  security-*,
  misc-*,
  modernize-*,
  concurrency-mt-unsafe

#  bugprone-*,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: readability-magic-numbers.IgnoredValues
    value: '0,1,-1'
  - key: bugprone-sizeof-expression
    value: 'true'
  - key: readability-implicit-bool-conversion.StrictMode
    value: 'true'
  - key: clang-analyzer-core.UndefinedBinaryOperatorResult
    value: 'true'
  - key: clang-analyzer-core.CallAndMessage
    value: 'true'
  - key: clang-analyzer-core.NonNullParamChecker
    value: 'true'
  - key: clang-analyzer-deadcode.DeadStores
    value: 'true'
  - key: readability-named-parameter.SuppressAllWarnings
    value: 'false'
